
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #08D9D6;
  font-size: 15px;
  line-height: 1.5;
  color : #252A34;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
}

h1 {
  color: #EAEAEA;
  font-size: 30px;
  line-height: 5;
}

h2, h3 {
  color: #252A34; <!--#FAF1E6;-->
  font-size: 15px;
  line-height: 3;
}

a {
  color : #252A34;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #FFC074;
  text-decoration: none;
}

.img-circle {
  border-radius: 50%;
  width: 150px;
  padding: 5px;
}

.container {
  width: 750px;
  margin : 40px auto;
}

@media (max-width: 800px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 450px;
  }
}

.card-white {
  background: white;                         /* White background */
  padding: 40px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  margin: 20px 0px;
}

.text-center {
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display : inline;
  padding: 0px 20px;
}

.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}

.list-inline i:hover {
  color: black;
}


.btn-blue {
  background-color: #6B72E1;
  color : white;
  padding: 7px 10px;
  border-radius: 4px;
}

#introduction p {
  margin-bottom: 40px;
}

#01937C
#2ECC71
#FAF1E6
#FFC074
